{% extends "base.html.twig" %}

{% block body %}
    <h1>Nvx projet</h1>

    <h3>[{{ extensions|length }}] extensions chargées :</h3>
    <div id="vue-component">
        <php-extensions :extensions="{{ extensions|json_encode }}"></php-extensions>
    </div>
{% endblock %}
